
###> symfony/framework-bundle ###
.env
/.env
/.env.local
/.env.local.php
/.env.*.local
/data
/var/
/vendor/
.env.test
/.env.test


###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml

###< symfony/phpunit-bridge ###
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
